<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

<body>
  <div class="container">
    <h1>2019 Cebu Travling</h1>
    <hr />

    <div id="v1">
      <h2>航班資訊</h2>
      <table class="table table-bordered" style="width: 100%">
        <thead>
          <tr>
            <th>日期</th>
            <th>出發地</th>
            <th>抵達地</th>
            <th>出發時間</th>
            <th>抵達時間</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="air in airs">
            <td>{{air.date}}</td>
            <td>{{air.location}}</td>
            <td>{{air.arrived}}</td>
            <td>{{air.locattime}}</td>
            <td>{{air.arrtime}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr />

    <div id="v2">
      <h2>行前注意事項</h2>
      <ul>
        <li v-for="notice in notices">{{notice}}</li>
      </ul>

    </div>

  </div>


</body>
<script src="data.js"></script>
<script>
  var v1 = new Vue({
    el: "#v1",
    data: {
      checkAll: false,// 是否全選
      checkedRows: [],// 選中的行標，用於刪除行
      airs: airdata,// 表格資料
      newRow: {}// 新增的行資料，用於新增行
    }
  })

  var v2 = new Vue({
    el: '#v2',
    data:{
      notices : noticesdata
    }
  })
</script>

</html>