.main {
    width: 100vw;
    height: auto;
    position: relative;
}

.main img{
    width: 100vw;
}

.badge {
    /*background: radial-gradient( 5px -9px, circle, white 8%, red 26px );*/
    background-color: black;
    border-radius: 50%;
    width: 20px;
    height: 40px;
    /*border: 2px solid white;*/
    /*border-radius: 12px; !* one half of ( (border * 2) + height + padding ) *!*/
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 15px/13px Helvetica, Verdana, Tahoma;
    height: 16px;
    min-width: 14px;
    padding: 4px 3px 0 3px;
    text-align: center;
    position: absolute;
}

.hint {

}
